= content_for :head do
  %title This forest
  %link{:href => 'http://fonts.googleapis.com/css?family=Raleway:100|Roboto+Slab:300', :rel => 'stylesheet', :type => 'text/css'}
%h1 I felt at that time that I
%p had reached the end of myself.

%p
  I looked back across the withered years, my footsteps larger and farther apart. My path had woven through beige carpet, orange juice spilled on white-and-green linoleum, and playground sand my kindergarten palms had swept away to reveal the eye-hollows of T-rex skulls. My wake was folders bursting with RAWs, maelstroms of soap and tears down the dorm shower drain, words knotted tight in my esophagus.
